<head>
            <%= stylesheet_link_tag 'advIndex',  :media => "all" %>
</head>

<button><%= link_to "sukurti posta", new_advertisment_path%></button>
<div class="main">
 
<% @advertisment.each do |ad| %>

<div class="center">
  <div class="property-card">
    <a href="#">
      <div class="property-image">
        <div class="property-image-title">
        </div>
      </div></a>
    <div class="property-description">
      <h5> <%= ad.name%> </h5>
      <p><%= ad.description%></td></p>
    </div>
    <a href="#">
      <div class="property-social-icons">
      <button><%= link_to "Delete", ad, method: :delete, data: {confirm: "are you sure you want to del?"} %></button>
      </div>
    </a>
  </div>
</div>




<% end %>

</div>
</div>

